<!DOCTYPE html>
<html lang=en>
<!---------
  This is a standalone single-file version, particularly relevant for a
  resume.
<---------->
<head>
  <meta charset=utf-8>
  <meta name=viewport content='width=device-width'>

  <title>Résumé—John Sherrell</title>
  <!-- data: url?
  <link rel=icon href=/favicon.svg sizes=any type=image/svg+xml>
  -->
  <!-- idk, apple!
  <link rel=mask-icon href=/favicon.svg color=#ccc>
  -->
  <style>
    <% cat style.css %>
  </style>
</head>

<% cat body.html %>

</html>
