@import url(/base.css);

h1 { margin: 0; font-family: var(--heading); }
header {
  font-size: large;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}
header > * { display: inline-block; vertical-align: middle; }
header > div {
  width: max-content;
  text-align: left;
  margin-top: .5em;
}
header address {
  border-block: solid .5px #888;
  padding-block: 1px;
  margin-bottom: .4em;
}
header address svg.feather { vertical-align: -1px; font-size: small; }
nav * { vertical-align: bottom; }
nav a { text-decoration: none; }
nav a.email:hover { text-decoration: underline; }
nav svg.feather { font-size: 16pt; margin-right: 2px; }
nav svg.feather:hover { stroke: url(#grad); }
h2 {
  --grad: linear-gradient(50deg, dodgerblue, 50%, cyan 140%);
  font-variant: all-small-caps;
  font-weight: normal;
  margin-top: 2em;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
h2::after {
  content: ' ';
  display: block;
  height: 1.5px;
  background: var(--grad);
}
h3 { font-size: medium; }

.date  {
  font-family: var(--heading);
  font-weight: bold;
  font-variant: oldstyle-nums;
}
.loc   { font-variant: all-small-caps; }
.title { font-style: italic; }

.two-col {
  display: grid;
  align-items: center;
  grid: auto-flow dense / max-content 1fr max-content;
  column-gap: 1em;
}
.two-col p, .two-col h3 { margin: 0; }
.two-col > ul { margin-block: 1em 3em; }
.two-col > ul:last-child { margin-bottom: 0; }
.two-col > ul, .two-col > h2 { grid-column: span 3; }
.two-col > .title, .two-col > h3 { grid-column: 1; }
.two-col .loc, .two-col .date { grid-row: span 2; justify-self: right; }
.two-col .loc  { grid-column: 2; }
.two-col .date { grid-column: 3; }

main ul {
  list-style: circle;
  padding-inline-start: 2rem;
}

@media (max-width: 490px) {
  .two-col .loc { grid-column: 1; justify-self: left; }
  .two-col .date { grid-row: span 3; }
  main ul { padding-inline-start: 1.2rem; }
}
