@import url(/base.css);

body {
  max-width: 650px;
  margin: auto;
  position: relative;
}
body > a:first-child {
  display: block;
  position: absolute;
  /* :root padding */
  top: -.5rem; right: -.5rem;
  opacity: .7;
  text-decoration: none;
  padding: .2em .6em .4em;
  border: solid .5px;
  border-radius: .3em;
  font-size: small;
  font-variant: all-small-caps;
}
body > a:first-child:hover { opacity: 1; outline: solid 1px; }

footer {
  text-align: center;
  font-size: small;
  margin-top: 1.5rem;
}

.hidden { display: none; }

header {
  font-size: large;
  text-align: center;
}
header > * { display: inline-block; vertical-align: middle; }
header > :first-child { min-height: 160px; }
img#me { margin-inline-end: .75ch; }
#head {
  display: inline-grid;
  text-align: left;
  white-space: nowrap;
  grid: auto-flow dense / auto auto;
}
h1 {
  margin: 0;
  grid-column: span 2;
  text-align: center;
  font-size: 1.9em;
}
#icons, #email { text-align: end; }
#email, #url { border-block: solid .5px #888; }
#head > :not(h1) { padding-block: .2em; padding-inline: .2em; }
#head > :not(#icons) svg { font-size: .8em; }
#email > svg, #url > svg { vertical-align: -2px;}
#icons > a { display: inline-block; }
#icons svg.feather { font-size: 1.2em; margin-inline-start: 2px; }
#icons svg.feather:hover { stroke: url(#grad); }

header a { text-decoration: none; }
header a:hover { text-decoration: underline; }

section { margin-block: 2rem; }
h2 {
  margin: 0;
  --grad: linear-gradient(50deg, dodgerblue, 50%, cyan 140%);
  font-variant: all-small-caps;
  font-weight: normal;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
h2::after {
  content: ' ';
  display: block;
  height: 1.5px;
  background: var(--grad);
}
h3 { font-size: medium; }

.date  {
  font-family: var(--heading);
  font-weight: 900;
  font-variant: oldstyle-nums;
}
.loc   { font-variant: all-small-caps; }
.title { font-style: italic; }

.grid {
  display: grid;
  align-items: center;
  grid: auto-flow dense / max-content 1fr max-content;
  column-gap: 1em;
}

/* Default items span full width and are indented */
/* No margin collapsing in grid, so fix that too */
.grid > * {
  grid-column: 1/-1;
  margin-block-end: 0;
  margin-inline-start: 1rem;
}

/* Fix up margin exceptions */
.grid > h2, .grid > h3 { margin-inline-start: revert; }
.grid > h3:not(:first-of-type) { margin-block-start: 2rem; }
.grid > p[class] { margin: 0; }

/* Fix up column exceptions */
.grid > p.title, .grid > h3 { grid-column: 1; }
.grid p.loc  { grid-column: 2; }
.grid p.date { grid-column: 3; }


/* Right side of grid */
.grid p.loc, .grid p.date {
  grid-row: span 2;
  justify-self: right;
  align-self: end;
  margin-block-end: .5rem;
}

main ul {
  list-style: circle;
  padding-inline-start: 1rem;
}

@media (max-width: 490px) {
  .grid p.loc { grid-column: 1; justify-self: left; }
  .grid p.date { grid-row: span 3; }
  .grid > * { margin-inline-start: .5rem; }
}

@media print {
  :root {
    color: #222;
    padding: 0;
    font-size: 85%;
  }
  .meh, h2::after, footer, body > a:first-child,
    header > a:first-child, section:first-of-type h2 { display: none }

  h1, h2, h3, p.date { color: #444; }
  h2 { border-bottom: solid 1px; }
  section { margin-block: 1rem; }

  header { margin-block: -.5rem 1.5rem; }
  #head {
    font-size: medium;
    display: grid;
    grid: auto-flow / auto auto auto;
  }
  h1 { text-align: start; }
  #url, #email, #icons, #location { all: revert; }
  #icons { grid-area: 1/3; align-self: end; }
  #head > :not(h1, #icons) {
    border-block: solid .5px #888;
    padding-block: 0 .1em;
  }
  #head > #icons { margin-block-end: -.25em; }
  #email { text-align: center; }
  #icons, #location { text-align: end; }
  #head svg.feather { color: #555; stroke-width: 1px; }

  .grid > h3:not(:first-of-type) { margin-block-start: 1rem; }
  .grid > ul, .grid > p:not([class]) { margin-block-start: .5rem; }
  .grid > p:not([class]) { margin-inline-start: .6rem; }
}
